@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

:root {
    --background-color: #0C0418;
    --font-primary-color: #FEFFFF;
    --primary-color: #BA0BF9;
}

* {
    margin: 0;
    padding: 0;    
    font-family: "Antonio", sans-serif;
    font-weight: 400;
    color: var(--font-primary-color);
}

body {
    background-color: var(--background-color);
}
.container {
    padding: 0px 60px;
}